<footer>
  <div class="wrapper">
    <div id="block-menu-menu-footer-tools" class="block block-menu test rolecontentinfo">
      <div class="content" style="width: 66%">
        <ul class="menu">
          <li class="first leaf"><a href="/privacy.html">Privacy</a></li>
          <li class="leaf"><a href="/reporting-suspected-fraud.html">Fraud</a></li>
          <li class="leaf"><a href="/accessibility.html">Accessibility statement</a></li>
          <li class="leaf"><a href="/about-us/contact-us/feedback-complaints.html">Feedback, Complaints and Reviews</a></li>
          <li class="leaf"><a href="/copyright.html">Copyright</a></li>
          <li class="leaf"><a href="/disclaimer.html">Disclaimer</a></li>
          <li class="leaf"><a href="/siteMap.html">Site map</a></li>
          <li class="leaf"><a href="/terms.html">Terms of use</a></li>
          <li class="leaf"><a href="/our-information-publication-scheme-entry.html">Information Publication Scheme</a></li>
          <li class="leaf"><a href="/ndis-access-checklist.html">NDIS Access Checklist</a></li>
          <li class="leaf"><a href="https://myportal.ndis.gov.au/">Participant portal</a></li>
          <li class="leaf"><a href="/participant-portal-user-guide.html">Participant Portal user guide</a></li>
          <li class="leaf"><a href="https://providerportal.ndis.gov.au/">Provider portal</a></li>
          <li class="leaf"><a href="/about-us/jobs-ndia.html">Jobs with the NDIA</a></li>
          <li class="leaf"><a href="/news/subscribe.html">Signup for updates</a></li>
          <li class="leaf"><a href="/about-us/locations.html">Our locations</a></li>
          <li class="last leaf"><a href="/about-us/contact-us.html">Get in contact</a></li>
        </ul>
      </div>
      <div style="width: 33%;" class="follow-us-block">
        <div class="contact-us">
          <div class="contact-us-text">Contact Us</div>
          <span><i class="fa fa-phone helpline-phone-icon"></i></span>
          <span class="helpline-phone">1800 800 110</span>
        </div>
        <div class="follow-us">
          <div class="follow-us-text">Follow us on</div>
          <ul>
            <li>
              <div class="simple-banner-component">
                <a href="https://www.facebook.com/NDISAus"><img title="" alt="" src="/assets/images/icon_facebook.png"></a>
              </div>
            </li>
            <li>
              <div class="simple-banner-component">
                <a href="https://twitter.com/NDIS"><img title="" alt="" src="/assets/images/icon_twitter.png"></a>
              </div>
            </li>
            <li>
              <div class="simple-banner-component">
                <a href="http://www.youtube.com/user/DisabilityCare"><img title="" alt="" src="/assets/images/icon_youtube.png"></a>
              </div>
            </li>
            <li>
              <div class="simple-banner-component">
                <a href="http://www.linkedin.com/company/national-disability-insurance-agency"><img title="" alt="" src="/assets/images/icon_linkedin.png"></a>
              </div>
            </li>
          </ul>
          <div class="follow-us-sign-off">
            <a href="/" rel="home" id="logo-link">
              <div class="simple-banner-component">
                <img title="" alt="" src="/assets/images/footer_followus.png">
              </div></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>