<div class="error">
  <div ng-message="required">This field is required</div>
  <div ng-message="minlength">This field is too short</div>
  <div ng-message="maxlength">This field is too long</div>
  <div ng-message="phone">This is not a valid phone number</div>
  <div ng-message="email">Email address is invalid</div>
  <div ng-message="number">This is not valid number</div>
  <div ng-message="date">This is not valid date</div>
  <div ng-message="min">This is not valid number in range</div>
  <div ng-message="max">This is not valid number in range</div>
  
</div>