<div class="container lead-details">

  <div class="clearfix">
    <h3 class="page-header">Reset Password</h3>
  </div>
  <div class="col-sm-12" style="padding: 20px">
    <div class="col-md-6">
      <form class="form" name="form" ng-submit="resetPassword(form)" novalidate>
        <div class="form-group">
          <label>New Password</label>
          <input type="password" name="newPassword" class="form-control" ng-model="user.newPassword" ng-minlength="3" required/>
          <p class="help-block error" ng-show="(form.newPassword.$error.minlength || form.newPassword.$error.required) && (form.newPassword.$dirty || form.$submitted)">
            Password must be at least 3 characters.
          </p>
        </div>
        <div class="form-group">
          <label>Confirm Password</label>
          <input type="password" name="newPasswordConfirm" class="form-control" ng-model="user.newPasswordConfirm" ng-minlength="3" required compare-to="user.newPassword"/>
          <p class="help-block error" ng-show="(form.newPasswordConfirm.$error.compareTo && form.newPassword.$valid) && (form.newPasswordConfirm.$dirty || form.$submitted)">
            Password does not match the confirm password.
          </p>
        </div>
        <button class="btn btn-primary" type="submit">Reset Password</button>
      </form>
    </div>

  </div>
</div>
